.App {
  text-align: center;
  width: 100vw;
  height: 100vw;
}

body {
  margin: 0;
  padding: 0;
}

.NavBar {
  background-color: white;
  width: 100%;
  height: 100px;
  font-family: 'Creepster', cursive;
  display: flex;
  position: relative;
}

.NavBar .LeftSide {
  flex: 50%;
  display: flex;
  
  align-items: center;
}

.NavBar .LeftSide .Links {
  max-height: 50px;
  
}
.NavBar .LeftSide .Links:hover {
  max-height: 50px;
  color: red;
}

.NavBar .LeftSide .Links {
  text-decoration: none;
  color: black;
  font-size: 25px;
  margin-left: 15px;
  justify-content:center;
}

.NavBar .LeftSide .Title {
  text-decoration: none;
  color: black;
  font-size: 50px;
  justify-content: left;
  margin-left: 15px;
}
.NavBar .LeftSide .Title:hover {
  color: red;
}

.NavBar .RightSide {
  flex: 50%
}

@media only screen and (max-wdith: 850px) {
  .NavBar .LeftSide .Links a{
    font-size: 20px;
  }
}

@media only screen and (max-wdith: 750px) {
  .NavBar .LeftSide .Links a{
    font-size: 15px;
  }
}

.theRegisterButton{
  font-family:  'Creepster', cursive;
  position: relative;
  padding-bottom: 20%;
}

.theRegisterButton button{
  color: black;
  background-color: transparent;
  border: transparent;
  font-size: 100px;
}
.theRegisterButton button:visited{
  color: black;
  background-color: transparent;
  border: transparent;
  font-size: 100px;
}
.theRegisterButton button:hover{
  background-color:transparent;
  color: red;
}

.loginButton{
  position: relative;
  font-family:  'Creepster', cursive;
}
.theLoginButton button{
  color: black;
  background-color: transparent;
  border: transparent;
  font-size: 100px;
}
.theLoginButton button:visited{
  color: black;
  background-color: transparent;
  border: transparent;
  font-size: 100px;
  
}
.theLoginButton button:hover{
  background-color:transparent;
  color: red;
}
.home{
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
}

.postContainer{
margin: auto;
display: flex;
align-items: center;
justify-content: center;
width: 100vw;
padding-top: 150px;
margin-top: 10px;
}

.cardColumn{
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  
} 

  

 .main {
  height: 100%;
  min-height: 100%;
}

.mainDiv {
  margin: auto;
  width: 90%;
  padding: 5px;
}

/* .cardGroup{
  display: flex;
  flex-direction: row;
  
} */

.merchContainer{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-top: 5%;
  margin-left: 25%;
  margin-right: 25%;
  
}
.merchChild{
  background-color: gainsboro;
  color: black;
  font-family: 'Special Elite', cursive;
}

.merchIndexDiv{
  background-color: black;

}

.merchChild button{
  background-color: transparent;
  border: none;
  font-weight: bolder;
  
}

.merchContainer button:hover{
  background-color: transparent;
  border: none;
  font-weight: bolder;
  color: red;
  
  
}

/* .merchChild button:hover{
  background-color: transparent;
  color: red;
} */

.navBarLogo{
  height: 200px;
  margin-top: 25%;
}